body { 
  background: #111b21;
  color: #e9edef; 
  font-family: Arial, sans-serif; 
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h2 { 
  background: #202c33;
  padding: 14px;
  text-align: center;
  margin: 0;
}

#chat { 
  flex: 1;
  padding: 10px; 
  overflow-y: auto; 
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#chat p {
  padding: 10px 14px;
  border-radius: 12px;
  max-width: 65%;
  font-size: 10px;
}

.me { 
  background: #005c4b;
  align-self: flex-end;
}

.bot { 
  background: #202c33;
  align-self: flex-start;
}

.button-container {
  display: flex;
  gap: 10px;
  padding: 12px;
  background: #202c33;
}

button { 
  flex: 1;
  padding: 14px; 
  background: #00a884;
  border: none; 
  border-radius: 20px; 
  font-size: 15px; 
  color: white; 
  font-weight: bold;
}